.CreateTodoButton {
  background: linear-gradient(145deg, #61dafb, #4a90e2);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15), 
              -4px -4px 10px rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 36px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  transition: all 0.3s ease;
  z-index: 1;
}

.CreateTodoButton:hover {
  background: #4699ff;
  transform: scale(1.1) rotate(90deg);
}